<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czm.pluginlib" >
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name=".XCProxyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
    </application>
</manifest>
